.searchBox {
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  margin-block-start: 1rem;
  width: 23rem;
  height: 2.75rem;
}

.searchField {
  width: 350px;
}

.input {
  border: 0px;
  font-size: 16px;
  color: #6f768d;
}

.selectWrapper {

}

.select {

}