.wrapper .searchBox {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
  display: flex;
  margin-block-start: 1rem;
  width: 23rem;
}

.wrapper .searchBox .searchField {
  width: 350px;
  height: 100%;
}

.wrapper .searchBox .searchField .input {
  border: 0px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}